## Imports

In [40]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

## Load dataset from csv

In [41]:
dataSet = pd.read_csv('all_data.csv',sep=';', encoding="cp1251")

## Preview dataset

In [42]:
dataSet.head()

,Unnamed: 0,author,author_type,link,city,deal_type,accommodation_type,floor,floors_count,rooms_count,...,price_per_m2,price,year_of_construction,living_meters,kitchen_meters,phone,district,street,underground,residential_complex
0,0,Константин Кудрявцев,realtor,https://www.cian.ru/sale/flat/283849683/,Москва_и_др.,sale,flat,1,5,1,...,291666,3500000,-1,-1.0,-1.0,79660408670,Текстильщики,Шкулева,Волжская,NaN
1,1,White and Broughton,real_estate_agent,https://www.cian.ru/sale/flat/280986757/,Москва_и_др.,sale,flat,17,41,1,...,618811,25000000,2021,15.2,9.1,79646331510,Хорошевский,Ленинградский проспект,Аэропорт,Прайм Парк
2,2,Времена года,real_estate_agent,https://www.cian.ru/sale/flat/286530258/,Москва_и_др.,sale,flat,5,14,1,...,919799,57000000,2022,-1.0,-1.0,79152007823,Хамовники,Усачева,Спортивная,Садовые кварталы
3,3,White and Broughton,real_estate_agent,https://www.cian.ru/sale/flat/283638079/,Москва_и_др.,sale,flat,9,41,1,...,617283,25000000,2022,17.3,9.3,79646331510,Хорошевский,Ленинградский проспект,Аэропорт,Прайм Парк
4,4,ID 44396977,realtor,https://www.cian.ru/sale/flat/287127196/,Москва_и_др.,sale,flat,12,17,1,...,324579,15450000,2019,-1.0,10.0,79034356129,Нагатино-Садовники,Нагатинская набережная,Коломенская,NaN

## Clear up

In [43]:
dataSet = dataSet.drop(columns={'Unnamed: 0','author','author_type','deal_type','city','link','accommodation_type','phone','residential_complex'},axis=1)

dataSet = dataSet[(dataSet.year_of_construction > 0)]
dataSet = dataSet[(dataSet.living_meters > 0)]
dataSet = dataSet[(dataSet.kitchen_meters > 0)]

dataSet = dataSet[(dataSet.floor > 0)]
dataSet = dataSet[(dataSet.floors_count > 0)]
dataSet = dataSet[(dataSet.rooms_count > 0)]
dataSet = dataSet[(dataSet.total_meters > 0)]
dataSet = dataSet[(dataSet.price_per_m2 > 0)]
dataSet = dataSet[(dataSet.price > 0)]

dataSet = dataSet.dropna()

In [44]:
dataSet.shape

(4149, 12)

In [45]:
dataSet = pd.get_dummies(dataSet, columns=["district", "street", "underground"])
dataSet.head()

,floor,floors_count,rooms_count,total_meters,price_per_m2,price,year_of_construction,living_meters,kitchen_meters,district_Академический,...,underground_Шоссе Энтузиастов,underground_Щербинка,underground_Щукинская,underground_Щёлковская,underground_Электрозаводская,underground_Юго-Восточная,underground_Юго-Западная,underground_Южная,underground_Ясенево,underground_Яхромская
1,17,41,1,40.4,618811,25000000,2021,15.2,9.1,False,...,False,False,False,False,False,False,False,False,False,False
3,9,41,1,40.5,617283,25000000,2022,17.3,9.3,False,...,False,False,False,False,False,False,False,False,False,False
5,6,13,1,71.1,983122,69900000,2019,37.1,12.8,False,...,False,False,False,False,False,False,False,False,False,False
7,33,36,1,75.0,626666,47000000,2020,35.0,20.0,False,...,False,False,False,False,False,False,False,False,False,False
9,6,41,1,41.0,724390,29700000,2022,24.0,6.0,False,...,False,False,False,False,False,False,False,False,False,False

In [47]:
dataSet.to_csv("clear_all_data.csv")